<!-- C:\ecoquerai\ecq-app-config\_layouts\default.html -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#050505" />
    <title>{{ page.title }} · EcoquerAI</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/custom.css' | relative_url }}"
    />
  </head>

  <body>
    <main class="container">{{ content }}</main>
  </body>
</html>
